* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.editor {
  padding: 10px;
  margin: 20px;
  height: calc(100vh - 40px);
  max-height: calc(100vh - 40px);
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1;
}

.editor:focus {
  border-color: #409eff;
}
